* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('Shadow.png');
    /*Para colocar a imagem de fundo*/
    /* Opção para não repetir a imagem */
    background-size: cover;
    /* Opção para cobrir toda a página */

}
h1,
h4,
h5 {
    z-index: 1;


}

.titulo {
    font-size: 25px;
    padding-top: 250px;
    text-align: center;
    color: bisque;
    transform: translateY(-100px);
    animation: caindo 1s ease-in-out forwards;

}
hr{
    margin: 10px;
    text-align: center;
}
@keyframes caindo {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

a {
    text-decoration: none;
    color: rgb(233, 178, 111);

}

.cantinho {
    color: bisque;
    text-align: left;
    margin: 20px 20px;

}

.rodape {
    color: bisque;
    text-align: right;
    padding-top: 450px;
}